@use "global" as *;

.p-community-vision {
  padding-top: rem(80);
  padding-bottom: rem(20);

  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(40);
  }
}

.p-community-vision__inner {
  padding-right: $padding-sp;
  padding-left: $padding-sp;

  @include mq("md") {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-community-vision__head {
  text-align: center;
  margin-bottom: rem(40);

  @include mq("md") {
    margin-bottom: rem(64);
  }
}

.p-community-vision__title {
  font-size: rem(24);
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.p-community-vision__body {
  @include mq("md") {
    display: flex;
    align-items: center;
    gap: rem(40);
    flex-direction: row-reverse;
  }

  @include mq("lg") {
    gap: rem(60);
  }
}

.p-community-vision__content {
  @include mq("md") {
    flex: 1;
    text-align: left;
  }
}

.p-community-vision__text {
  text-align: center;
  margin-top: rem(16);
  margin-bottom: rem(40);

  @include mq("md") {
    text-align: left;
    margin-top: 0;
    margin-bottom: rem(64);
  }
}

.p-community-vision__slider {
  width: 100%;
  max-width: rem(800);
  margin-right: auto;
  margin-left: auto;
}

.my-vision-swiper {
  width: 100%;
  border-radius: rem(12);
  overflow: hidden;
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.1);
}

.p-community-vision__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  vertical-align: bottom;
}

.p-community-vision__slider .p-community-vision__img {
  aspect-ratio: 16 / 9;
}

.p-community-vision__images .p-community-vision__img {
  aspect-ratio: 4 / 3;
}

.swiper-pagination-bullet-active {
  background-color: $main-green;
}

.p-community-vision__images {
  position: relative;
  width: 100%;
  max-width: rem(400);
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  aspect-ratio: 4 / 3;

  @include mq("md") {
    flex: 1;
    margin-top: 0;
    max-width: rem(500);
  }
}

.p-community-vision__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
  border-radius: rem(12);
  overflow: hidden;
  box-shadow: 0 rem(8) rem(24) rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0s;
  cursor: pointer;
}

.p-community-vision__img-wrapper:nth-child(1) {
  top: 10%;
  left: 0;
  transform: rotate(-5deg);
  z-index: 1;
}

.p-community-vision__img-wrapper:nth-child(2) {
  top: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%) rotate(0deg);
  z-index: 3;
}

.p-community-vision__img-wrapper:nth-child(3) {
  top: 20%;
  right: 0;
  left: auto;
  transform: rotate(5deg);
  z-index: 2;
}

.p-community-vision__img-wrapper:hover {
  z-index: 500;
  transform: scale(1.1) rotate(0deg) !important;
  box-shadow: 0 rem(16) rem(40) rgba(0, 0, 0, 0.25);
}
