@use "global" as *;

@use "global" as *;

.p-community-fv {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background-color: $light-gray;

  @include mq("md") {
    padding-top: rem(120);
    padding-bottom: rem(100);
  }
}

.p-community-fv__inner {
  padding-right: $padding-sp;
  padding-left: $padding-sp;

  @include mq("md") {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-community-fv__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32);

  @include mq("md") {
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
    gap: rem(64);
  }
}

.p-community-fv__content {
  flex: 1;
  text-align: center;

  @include mq("md") {
    text-align: left;
  }
}

.p-community-fv__tagline {
  font-size: rem(14);
  color: $main-green;
  font-weight: 600;
  margin-bottom: rem(16);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.p-community-fv__catchcopy {
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.4;
  color: $black;
  margin-bottom: rem(24);

  @include mq("md") {
    font-size: rem(40);
  }
}

.p-community-fv__sub-copy {
  color: $black;
  line-height: 1.8;
  font-size: rem(16);
  max-width: rem(560);
  margin: 0 auto;

  @include mq("md") {
    margin: 0;
    font-size: rem(18);
  }
}

.p-community-fv__img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: rem(480);

  @include mq("md") {
    max-width: rem(600);
  }

  img {
    width: 100%;
    height: auto;
    border-radius: rem(16);
    box-shadow: 0 rem(8) rem(16) rgba($black, 0.1);
  }
}