@use "global" as *;

.p-community-info {
  padding-top: rem(80);
  padding-bottom: rem(20);

  @include mq("md") {
    padding-top: rem(100);
    padding-bottom: rem(40);
  }
}

.p-community-info__inner {
  padding-right: $padding-sp;
  padding-left: $padding-sp;

  @include mq("md") {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    max-width: rem(800);
    margin-right: auto;
    margin-left: auto;
  }
}

.p-community-info__head {
  text-align: center;
  margin-bottom: rem(32);

  @include mq("md") {
    margin-bottom: rem(48);
  }
}

.p-community-info__title {
  font-size: rem(20);
  font-weight: 700;
  color: $black;

  @include mq("md") {
    font-size: rem(24);
  }
}

.p-community-info__list {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.p-community-info__item {
  width: 100%;
}

.p-community-info__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: rem(16);
  background-color: $white;
  border: rem(1) solid $gray;
  border-radius: rem(8);
  text-decoration: none;
  color: $black;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  @include mq("md") {
    padding: rem(20) rem(24);
  }
}

.p-community-info__link:hover {
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.1);
  transform: translateY(rem(-2));
}

.p-community-info__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: rem(12);

  @include mq("md") {
    margin-right: rem(20);
  }
}

.p-community-info__img img {
  width: rem(24);
  height: rem(24);
  object-fit: contain;

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.p-community-info__label {
  font-size: rem(14);
  font-weight: 600;
  flex-grow: 1;
  line-height: 1.5;

  @include mq("md") {
    font-size: rem(16);
  }
}

.p-community-info__arrow {
  font-size: rem(16);
  color: $gray;
  margin-left: rem(8);
}