@use "sass:math";

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1440px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 40px;
$padding-sp: 8px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！


////////////////////
// フォント設定
////////////////////
@font-face {
  font-family: 'Noto Serif JP';
  src: url('fonts/NotoSerifJP-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url('fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Kosugi Maru';
  src: url('fonts/KosugiMaru-Regular.ttf') format('truetype');
}


$base-font-family: 'Noto Sans JP', 'sans-serif';
$sub-font-family: 'Noto Serif JP', 'sans-serif';


// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

body {
  font-family: $base-font-family;
}



////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #333;
$gray: #ccc;
$light-gray: #F8F8F8;
$white: #fff;
$accent-orange:#f8d46f;
$hover-orange:#f4d47d;
$light-orange: #FFEDD3;
$dark-blue: #012F46;
$kehl-blue: #005EA8;
$main-green: #227436;
$dark-green: #1f2a28;
$light-green: #D3E3D7;
$lighter-green: #e4eeeb;
$yellow-green: #C8FF3C;


////////////////////
// メディアクエリとブレークポイントの設定
////////////////////

//ブレイクポイント
$breakpoints: (sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);


//メディアクエリー
$mediaquerys: (sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}


////////////////////
// 非表示設定
////////////////////

//768px以上を表示
.u-desktop {
  display: none;

  @include mq("md") {
    display: block;
  }
}

//モバイルのみ表示
.u-mobile {
  @include mq("md") {
    display: none;
  }
}