@use "global"as *;

.c-text {
    letter-spacing: 0.05em;
    font-size: rem(16);
    line-height: 1.6;

    @include mq("md") {
        line-height: 2;
    }
}

.c-text__link {
    color: $kehl-blue;
    text-decoration: underline;
    transition: color 0.3s;
}
.c-text__link:hover {
    color: lighten($dark-blue, 10%);
}