@use "global"as *;

.p-about-me {
  position: relative;
  padding-top: rem(80);
 
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $light-green;
    clip-path: polygon(20% 100%, 100% -40%, 100% 100%, 0% 100%);
    z-index: -1;
    top: 0;
    left: 0;

    @include mq("md") {
      clip-path: polygon(20% 100%, 80% -40%, 80% 100%, 0% 100%);
    }
  }

  @include mq("md") {
    margin-top: rem(-120);
    padding-top: rem(calc(80 + 120));
  }
}

.p-about-me__inner {
  z-index: 1;
}

// .p-about-me__bg {
//   width: 100%;
//   height: 100%;
//   background-color: $light-green;

//   @include mq("md") {
//     width: 71.875%;
//   }
// }

.p-about-me__head {

}

.p-about-me__title {
  font-size: rem(32);
  letter-spacing: 0.2em;
  color: $main-green;

  @include mq("md") {
    font-size: rem(40);
  }
}

.p-about-me__lead {
  margin-top: rem(18);

  @include mq("md") {
    margin-top: rem(24);
  }
}

.p-about-me__content {
  margin-top: rem(32);

  @include mq("md") {
    margin-top: rem(56);
    display: flex;
    gap: rem(40);
  }
}

.p-about-me__article {
  @include mq("md") {
    width: 56.67%;
  }
}

.p-about-me__wrap {
  @include mq("md") {
    margin-left: rem(24);
  }
}

.p-about-me__body {
}

.p-about-me__body .c-text {
  margin-top: rem(8);

  @include mq("md") {
    margin-top: rem(16);
  }
}

.p-about-me__profile {
  position: relative;
  top: rem(40);
}

.p-about-me__position {
  font-size: rem(14);
  letter-spacing: 0.1em;
  text-align: center;

}

.p-about-me__name {
  margin-top: rem(8);
  font-size: rem(24);
  font-weight: $bold;
  text-align: center;

  @include mq("md") {
    margin-top: rem(40);
  }
}

.p-about-me__img {
  max-width: rem(240);
  margin-top: rem(16);
  margin-left: auto;
  margin-right: auto;
  
  @include mq("md") {
    margin-top: rem(24);
    max-width: rem(400);
    max-height: rem(400);
  }
}

.p-about-me__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
