@use "global"as *;

.p-fv {
    width: 100%;
    background: $lighter-green;
}

.p-fv__inner {
    padding-top: rem(80);
    padding-bottom: rem(24);

    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.p-fv__main {
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        gap: rem(40);
    }
}

.p-fv__img {
    width: 70%;
    height: 70%;
    margin-left: auto;

    @include mq("md") {
        max-width: rem(440);
        max-height: rem(440);
        width: 100%;
        height: 100%;
    }
}

.p-fv__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-fv__content {
    max-width: rem(680);
    position: relative;
    top: rem(-40);

    @include mq("md") {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        position: static;
        top: auto;
    }
}

.p-fv__tagline {
    font-size: rem(20);
    font-weight: $bold;
    text-align: right;
    color: #fff;
    background-color: $dark-blue;
    display: inline-block;
    padding-top: rem(4);
    padding-right: rem(12);
    padding-left: rem(12);
    padding-bottom: rem(4);
    border-radius: rem(4);

    @include mq("md") {
        background-color: unset;
        color: $dark-blue;
        text-align: left;
        padding: 0;
    }
}

.p-fv__catchcopy {
    font-size: rem(28);
    font-weight: 700;
    margin-top: rem(20);

    @include mq("md") {
        font-size: rem(40);
    }
}

.p-fv__sub-copy {
    font-size: rem(20);
    color: $black;
    line-height: 1.6;
    margin-top: rem(40);

    @include mq("md") {
        font-size: rem(16);
    }
}

@keyframes shake-cute {
    0% {
        transform: translateX(0) rotate(0);
    }

    15% {
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        transform: translateX(3px) rotate(2deg);
    }

    45% {
        transform: translateX(-3px) rotate(-1.5deg);
    }

    60% {
        transform: translateX(2px) rotate(1deg);
    }

    75% {
        transform: translateX(-2px) rotate(-0.5deg);
    }

    100% {
        transform: translateX(0) rotate(0);
    }
}

.p-fv__btn {
    color: $black;
    background-color: $accent-orange;
    width: rem(200);
    height: rem(64);
    border-radius: rem(100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    box-shadow: rem(2) rem(2) rem(8) rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: rem(32);

    @include mq("md") {
        margin-top: rem(56);
        margin-left: auto;
    }
}

.p-fv__btn:hover,
.p-fv__btn:focus-visible {
    animation: shake-cute 0.5s;
    background-color: lighten($accent-orange, 5%);
}

.p-fv__btn>a {
    width: inherit;
    height: inherit;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}