@use "global"as *;

.p-hp {
  padding-top: rem(40);
  padding-bottom: rem(40);

  @include mq("md") {
  }
}

.p-hp__bg {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  bottom: 60%;

  @include mq("md") {
    bottom: 56%;
  }
}

.wave-wrapper {
  display: flex;
  width: 400%;
  animation: wave-scroll 30s linear infinite;
}
@keyframes wave-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1440px);
  }
}

.p-hp__content {

  @include mq("md") {
    display: flex;
    gap: rem(32);
  }
}

.p-hp__img {
  margin-top: rem(24);
  max-width: rem(320);
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 53.57%;
    max-width: rem(480);
  }
}

.p-hp__article {

  @include mq("md") {
    width: 46.43%;
    max-width: rem(520);
  }
}

.p-hp__lead {
}

.p-hp__title {
  margin-top: rem(16);
  font-size: rem(22);

  @include mq("md") {
    margin-top: rem(40);
    font-size: rem(40);
  }
}

.p-hp__body {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(40);
  }
}
