@use "global"as *;


.l-footer {
    background-color: $black;
    width: 100%;
}

.l-footer__inner {
    margin-left: auto;
    margin-right: auto;
    padding-top: rem(54);
    padding-left: rem(24);
    padding-right: rem(24);
    padding-bottom: rem(16);

    @include mq("md") {
        max-width: rem(1260);
        padding-left: rem(32);
        padding-right: rem(32);
    }
}

.l-footer-top {

    @include mq("md") {
        display: flex;
        justify-content: space-between;
        gap: rem(40);
    }
}

// .l-footer {
//     height: rem(60);
//     width: rem(390);

// }

.l-footer__logo {
    width: rem(260);
    height: rem(40);

    margin-top: rem(24);
    margin-left: rem(16);

    -webkit-mask-image: url('../images/common/logo.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url('../images/common/logo.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    background-color: $white;

    @include mq("md") {
        width: rem(390);
        height: rem(60);
    }
}

.l-footer__btns {
    margin-top: rem(40);
    display: block;
    
    @include mq("md") {
        display: flex;
        justify-content: center;
        margin-top: rem(24);
    }
}

// フッターメニュー全体
.l-footer-menu {
    color: $white;
    max-width: rem(327);

    margin-top: rem(64);
    margin-left: auto;
    margin-right: auto;

    @include mq("md") {
        display: flex;
        margin-top: rem(80);
        justify-content: right;

        gap: rem(160);
        max-width: rem(1080);
    }
}


.l-footer-menu__item a {
    margin-bottom: rem(24);

    @include mq("md") {
        margin-bottom: rem(16);
    }
}

.l-footer-menu__item a {
    display: inline-block;
}

// フッターメニューのカテゴリ分けされてあるもの
.l-footer-menu__cat {
    margin-top: rem(64);

    @include mq("md") {
        margin-top: 0;
    }
}


.l-footer-menu__list {
    display: flex;
    gap: rem(40);

    @include mq("md") {}
}


.l-footer-menu__title {
    margin-bottom: rem(32);

    @include mq("md") {
        margin-bottom: rem(16);
    }
}

.l-footer-menu__text {
    font-size: rem(14);
}

.l-footer-menu__item--child::before {
    content: "-";
}

.l-footer-menu__item--child {
    margin-left: rem(6);
    display: flex;
    gap: rem(6);
}

.l-footer-menu__wrap {
    display: flex;
    align-items: center;
    gap: rem(12);
}

.l-footer-sns {
    margin-top: rem(80);
    display: flex;
    justify-content: center;

    @include mq("md") {
        margin-top: rem(160);
    }
}