@use "global"as *;

.l-narrow-inner {
  margin-left: rem(16);
  margin-right: rem(16);
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  
  @include mq("md") {
    max-width: rem(960);
    margin-left: auto;
    margin-right: auto;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}