@use "global"as *;

.translatepress {
  position: absolute;
  z-index: 1000;
  top: calc(rem(24) + rem(8));
  right: rem(100);
  background: rgba(255, 255, 255, 0.9); // または rgba(0, 0, 0, 0.8)
  box-shadow: 0 rem(20) rem(40) rgba(0, 0, 0, 0.05);
  border-radius: rem(8);

  @include mq("md") {
    top: calc(rem(24) + rem(20));
    right: calc(50% - rem(720) + rem(240));
  }

}

.translatepress a {
  color: inherit;
  text-decoration: none;
  border-radius: rem(6);
  transition: background-color 0.3s ease;

}


.translatepress a:hover {
  background-color: #eee;
}

.translatepress .trp-ls-shortcode-language {
  border: none;
  border-radius: rem(8);
}

.translatepress .trp-ls-shortcode-current-language {
  border: none;
  border-radius: rem(8);
  background: none;
}

.translatepress div {
  height: auto;
  width: fit-content !important;

  @include mq("md") {}
}

.translatepress .trp-ls-shortcode-language a {
  height: auto;

  @include mq("md") {}
}

.translatepress::after {
  content: '';
  position: absolute;
  top: 50%;
  right: rem(12);
  transform: translateY(-50%);
  width: rem(12);
  height: rem(12);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4l4 4 4-4' stroke='%23333' stroke-width='2' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.trp-ls-shortcode-disabled-language,
.trp-ls-shortcode-language a {
  font-size: rem(14) !important;
}